
<div class="col-md-12 box">
  <div class="row ">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Dream Job夢想求職網</h1>
      <p class="slogan">來自世界500大企業，找尋屬於你的夢想工作。             
      </p>
      <p class="lead">
        <%= link_to "立即開始 !" , jobs_path, class: 'btn btn-welcome' %>
      </p>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center section1">
        <h2 class="section-heading">遇見更好的機會，打造更美好的將來</h2>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>        
        <p class="welcome-content">Dream Job由全球知名矽谷新創大師Jobs成立。<br />
        使用最新演算法以及大數據對全球前500大企業進行市場調查，且分析全球團隊的需求，以及卓越求職者訊息。<br />
        打造了獨一獨二的職缺配對模式，將優秀的人才以及完美的企業連接更準確，更快速。
        </p>
        <%= image_tag "welcomecontentimage1.jpg" %>
      </div>      
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container section2">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">        
        <div class="clearfix"></div>
        <h2 class="section-heading">服務優勢</h2>
        <hr class="section-heading-spacer">        
      </div>      
    </div>
    <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 ">
        <div class="intro">
          <%= image_tag 'newsinfo.png', class: 'img-responsive' %>
          <h3>最新職缺</h3>
          <p>
          Dream Job與全國頂尖企業合作，有海量職缺等著你，只要你有實力，加入頂尖團隊不再是夢想。
          </p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="intro">
          <%= image_tag 'analytics.png', class: 'img-responsive' %>
         <h3>職缺分析</h3>
          <p>
          高階端職缺分析，每月會有全球前500大最新市調，提供給您最佳的參考，讓你處處都是機會。
          </p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="intro">
        <%= image_tag 'time.png', class: 'img-responsive' %>
        <h3>快速反饋</h3>
          <p>
          數據化的招聘程序，我們擁有企業化的最迅速反饋機制，讓你不在苦苦等待不在著急。
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container section3">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">        
        <div class="clearfix"></div>
        <h2 class="section-heading">熱門職位</h2>
        <hr class="section-heading-spacer">        
      </div> 
    </div>
    <div class="col-md-12 text-center linktoWork">
      <div class="row">
       <!--============ 程式 ============-->
        <div class="col-md-3">
          <a href="/jobs">
            <div class="imgbox">
              <%= image_tag "ComputerProgramer.png" %>
            </div>
            <div class="imgintro">
            <h3>程式語言</h3>
            <p>Porogramer</p>
            </div>
          </a>
        </div>
          <!--============ 網頁程式 ============-->
          <div class="col-md-3">
            <a href="/jobs">
              <div class="imgbox">
                <%= image_tag "webdesign.png" %>
              </div>
              <div class="imgintro">
              <h3>網頁設計</h3>
              <p>Webdesign</p>
              </div>
            </a>
          </div>
          <!--============ 設計 ============-->
          <div class="col-md-3">
            <a href="/jobs">
              <div class="imgbox">
                <%= image_tag "design.png" %>
              </div>
              <div class="imgintro">
              <h3>廣告設計</h3>
              <p>Design</p>
              </div>
            </a>
          </div>
            <!--============ 建築師 ============-->
            <div class="col-md-3">
              <a href="/jobs">
                <div class="imgbox">
                  <%= image_tag "architect.png" %>
                </div>
                <div class="imgintro">
                <h3>建築師</h3>
                <p>Architect</p>
                </div>
              </a>
            </div>
          </div>
        <br />
        <div class="row">
          <!--============ 業務 ============-->
            <div class="col-md-3">
              <a href="/jobs">
                <div class="imgbox">
                  <%= image_tag "sales.png" %>
                </div>
                <div class="imgintro">
                <h3>業務</h3>
                <p>Sales</p>
                </div>
              </a>
            </div>
          <!--============ 醫生 ============-->
            <div class="col-md-3">
              <a href="/jobs">
                <div class="imgbox">
                  <%= image_tag "doctor.png" %>
                </div>
                <div class="imgintro">
                <h3>醫生</h3>
                <p>Doctor</p>
                </div>
              </a>
            </div>
            <!--============ 廚師 ============-->
            <div class="col-md-3">
              <a href="/jobs">
                <div class="imgbox">
                  <%= image_tag "chef.png" %>
                </div>
                <div class="imgintro">
                <h3>廚師</h3>
                <p>Chef</p>
                </div>
              </a>
            </div>            
            <!--============ All ============-->
            <div class="col-md-3">
              <a href="/jobs">
                <div class="imgbox">
                  <%= image_tag "suitcase.png" %>
                </div>
                <div class="imgintro">
                <h3>全部職缺</h3>
                <p>ALL</p>
                </div>
              </a>
            </div>            
        </div>
        <!-- row end -->
      </div>
    </div> 
    </div>      
</div>
<!-- section3 end -->
<!-- section4 start -->
<div class="content-section-b">
  <!-- container  start-->
  <div class="container section4">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
      <h2>顧客反饋</h2>
      <hr class="section-heading-spacer">
      <!-- carousel開始 -->
        <div id="carouselcustomers" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselcustomers" data-slide-to="0" class="active"></li>
            <li data-target="#carouselcustomers" data-slide-to="1"></li>
            <li data-target="#carouselcustomers" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">              
              <p>龐大的優秀人才數據庫，讓我在新創團隊時能迅速找到頂尖好手，簡單的操作介面省去不少麻煩，在這可以放心挖掘優秀人才。</p>
              <div class="customers">
              <%= image_tag "avatar1.jpg",class: "customerpic1" ,alt:"customers1" %>                
              </div>
              <span>John, Rails程式設計師</span>  
            </div>
            <div class="item">
              <p>Dream Job能夠快速找出最適合我的工作，全球前500大企業都有在這。現在我已加入最頂尖的團隊，歡迎推薦大家使用。</p>
              <div class="customers">
                <%= image_tag "avatar2.jpg",class: "customerpic2", alt:"customers2" %>
              </div>
              <span>Zoe, 品牌設計師</span>    
            </div>
            <div class="item">
             <p>Dream Job的職缺更新速度非常快速，對於全球最具競爭性的企業更新效率，真的比我想像中的快速，強烈推薦使用。</p>
              <div class="customers">
                <%= image_tag "avatar3.jpg",class: "customerpic3", alt:"customers3" %>
              </div>
            <span>Eva, 營運經理</span>   
            </div>
          </div>
        </div>
      <!-- carousel結束  -->
      </div>      
    </div>
    <!-- row end-->
  </div>
  <!-- container  end-->
</div>
<!-- section4 end -->

<!-- section5 start -->
<div class="content-section-b">
  <!-- container  start-->
  <div class="container section5">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
      <h2>合作夥伴</h2>
      <hr class="section-heading-spacer">
        <%= image_tag "company/Apple-logo.png" %>
        <%= image_tag "company/Netflixogo.png" %>
        <%= image_tag "company/IBM-Logo.png" %>
        <%= image_tag "company/Microsoft-logo.png" %>
        <%= image_tag "company/airbnb-logo.png" %>
        <%= image_tag "company/facebook-logo.png" %>
        <%= image_tag "company/youtube-logo.png" %>
        <%= image_tag "company/Blizzard-Logo.png" %>
        <%= image_tag "company/inkedin-logo.png" %>
        <%= image_tag "company/Instagram-logo.png" %>
        <%= image_tag "company/Google-logo.png" %>
        <%= image_tag "company/Amazon-logo.png" %>
        <%= image_tag "company/adidas-logo.png" %>
        <%= image_tag "company/Nike-logo.png" %>
      </div>      
    </div>
    <!-- row end-->
  </div>
  <!-- container  end-->
</div>
<!-- section4 end -->

<script>
//$('.carousel').carousel({
//  interval: false
//})

</script>