<div class="col-md-10 col-md-offset-1">
  <hr />
  <%= simple_form_for [:admin , @category] do |f| %>
    <div>
      <%= f.input :name, :label => false, placeholder: '請輸入職位類型' %>
      <%= f.input :icon, :label => false, placeholder: '請輸入ICON代碼（例如：fa-home）' %>
      <hr />
      <span><%= f.input :is_hidden, label: '隱藏職位' %></span>
    </div>
    <div class="form-actions">
      <%= f.submit "送出", disable_with: "Submiting...", class: "button"%>
      <br/>      
      <%= link_to "返回職位類型", admin_categories_path %>
    </div>
  <% end %>
</div>