<nav class="navbar navbar-default navbar-fixed-top default-menu" role="navigation">
    <div class="container-fluid container">
        <div class="navbar-header">
        <a class="navbar-brand default_logo" href="/">
        <%= image_tag 'logo.png', class: "logo_img", alt: "logo"%>                 
            Dream Job</i></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left btn-welcome-nav">
            <li> <a href="/"><i class="fa fa-home"> 首頁 </i></a></li>
            <li> <a href="/jobs"><i class="fa fa-briefcase"> 工作 </i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right btn-welcome-nav">
                <% if !current_user %>                        
                <li><%= link_to "註冊", new_user_registration_path %></li>
                <li><%= link_to "登入", new_user_session_path %></li>                                     
                <% else %>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= current_user.nickname %> ， 您好!
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">                                    
                        <% if current_user.admin?  %>
                        <li><%= link_to "管理者頁面", admin_jobs_path %> </li>
                        <li class="divider"> </li>
                        <% end %>                                                                                               
                        <li><%= link_to "登出", destroy_user_session_path,method: :delete %> </li>
                    </ul>
                    </li>
                <% end %>                    
            </ul>
            <!--=== 搜索欄 ===-->
            
            <%= form_tag search_jobs_path, method: :get, class: "navbar-form navbar-right search-form" do %>
            <div class="input-group search-box">         
                <input type="text" class="form-control" name="keyword" placeholder="搜尋職位、公司、地點。" value="<%= params[:keyword] %>">
            <div class="input-group-btn">           
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                    <i class="fa fa-search"></i>
                <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</nav>